# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ngrok
.ngrok.log
.ngrok.pid

# Secrets and Environment
.env
.env.*
!.env.example
example.env
*.key
*.keystore
**/dev-secrets/
**/*.pem
key.properties
android/key.properties
game_trader_app/android/key.properties

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
**/.idea/

# VS Code related
.vscode/
**/.vscode/

# Flutter/Dart/Pub related
**/.dart_tool/
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
**/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio artifacts
**/android/app/debug
**/android/app/profile
**/android/app/release

# Go
**/vendor/
**/*.out
**/bin/
